@font-face{
    font-family: 'digital-font';
    src: url('assets/digital-font.ttf')
}
h1{
    text-align: center;
    color: white;
    font-family: "digital-font";
    font-size: 50px;
}
body{
    background: url('assets/bballarena.jpg')no-repeat center center fixed;
}
p{
    text-align: center;
}
.game-layout{
    display: grid;
    justify-content: center;
    grid-row-gap: 75px;
    background-color: #B8860B;
    border-color: #708090;

}
.name-tag{
    font-family: 'Oswald', sans-serif;
    font-size: large;
}
.scoreboard{
    display: flex;
    justify-content: space-around;
    border: solid gray;
    background-color: black;
    width: 250px;
    margin: auto;   
}

.name-tag{
    color: white;
}
.score-font{
    color: red;
    font-size: xx-large;
    font-family: 'digital-font'
    
}
.buttons-container{
    display: flex;
    justify-content: center;

}
.restart{
    background: #0000CD;
    border-color: white;
    border-radius: 10%;
    font-size: 40px;
}
.choose-button{
    border-radius: 45%;
}

.icons{
    width: 90px;
    height: 100px;
    border-radius: 45%;
}
.icons:hover{
    animation-name: icons;
    animation-fill-mode: forwards;
}
@keyframes icons {
    100%{
    height: 125px;
    }
}